@import "tailwindcss";

@theme {
  --color-primary: #94492E;
  --color-secondary: #FFB59C;
  --color-primary-light: #FFD9CE;
  --color-secondary-light: #FFEDE8;
  --color-primary-dark: #763219;
}

:root{
  margin: 0;
  padding: 0;
}

body{
  font-family: "Poppins", sans-serif;
}

